<!DOCTYPE html>
<html lang="en">
<head>
	<include file="Public:head" title="用户添加"/>
</head>
<body>
	<div class="row">
            <div class="col-sm-12">
          
            </div>
        </div>
</body>
<include file="Public/foot" />

<load href="__PUBLIC__/H+/js/plugins/iCheck/icheck.min.js" />

<script>
    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
    });
</script>

</html>