
    <!-- 全局js -->

    <load href="__PUBLIC__/H+/js/jquery.min.js" />
    <load href="__PUBLIC__/H+/js/bootstrap.min.js" />

    <load href="__PUBLIC__/H+/js/plugins/metisMenu/jquery.metisMenu.js" />
    <load href="__PUBLIC__/H+/js/plugins/slimscroll/jquery.slimscroll.min.js" />
    <load href="__PUBLIC__/H+/js/plugins/layer/layer.min.js" />
    <!-- 自定义js -->
    <load href="__PUBLIC__/H+/js/hplus.js" />
    <load href="__PUBLIC__/H+/js/contabs.js" />
    <!-- 第三方插件 -->

     <!-- Sweet alert -->
     <load href="__PUBLIC__/H+/js/plugins/sweetalert/sweetalert.min.js" />

   
    <!-- <load href="__PUBLIC__/H+/Js/Common.js" /> -->
