<nav class="navbar-default navbar-static-side" role="navigation">
            <div class="nav-close"><i class="fa fa-times-circle"></i>
            </div>
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <span><img alt="image" class="img-circle" src="__PUBLIC__/H+/img/profile_small.jpg" /></span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                               <span class="block m-t-xs"><strong class="font-bold">{$user.user_name}</strong></span>
                                <span class="text-muted text-xs block">超级管理员<b class="caret"></b></span>
                                </span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a class="J_menuItem" href="form_avatar.html">修改头像</a>
                                </li>
                                <li><a class="J_menuItem" href="profile.html">个人资料</a>
                                </li>
                                <li><a class="J_menuItem" href="contacts.html">联系我们</a>
                                </li>
                                <li><a class="J_menuItem" href="mailbox.html">信箱</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="{:U('Login/login_out')}">安全退出</a>
                                </li>
                            </ul>
                        </div>
                        <div class="logo-element">H+
                        </div>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-home"></i>
                            <span class="nav-label">用户管理</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="J_menuItem" href="{:U('User/add')}">用户添加</a>
                            </li>

                            <li>
                                <a class="J_menuItem" href="{:U('User/list')}" data-index="0">用户列表</a>
                            </li>
                           
                            <li>
                                <a class="J_menuItem" href="{:U('Rule/add')}">新增规则</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="{:U('Rule/rule_list')}">规则列表</a>
                            </li>
                            <li>
                                <a href="index_v5.html" target="_blank">主页示例五</a>
                            </li>
                        </ul>

                    </li>
                    <!-- <li>
                        <a class="J_menuItem" href="layouts.html"><i class="fa fa-columns"></i> <span class="nav-label">布局</span></a>
                    </li> -->
     
                    
                    <li>

                        <a href="#">
                            <i class="fa fa fa-bar-chart-o"></i>
                            <span class="nav-label">系统设置</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="J_menuItem" href="{:U('Menu/index')}">菜单管理</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="graph_flot.html">Flot</a>
                            </li>
                      
                        </ul>
                    </li>

                    <li>

                        <a href="#">
                            <i class="fa fa-expeditedssl"></i>
                            <span class="nav-label">权限控制</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="J_menuItem" href="{:U('Rule/index')}">权限管理</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="{:U('Group/index')}">用户组管理</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="{:U('Admin/index')}">管理员列表</a>
                            </li>
                      
                        </ul>
                    </li>
                       
                </ul>
            </div>
        </nav>